/* 引入图标库 */
@import url('https://at.alicdn.com/t/font_3402985_g2svwlbxb5d.css?spm=a313x.7781069.1998910419.51&file=font_3402985_g2svwlbxb5d.css');


/* HYZhengYuan */
/* @font-face {
  font-family: 'HYZhengYuan';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(./HYZhengYuan.ttf) format('truetype');
} */

/* JetBrainsMono */
/* @font-face {
  font-family: 'JetBrainsMono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(./JetBrainsMono.ttf) format('truetype');
} */
