/*
 * @Description: typora 主题
 * @Author: zhangxuelong
 * @Date: 2022-05-11 15:24:53
 */

@import url('https://cdn.jsdelivr.net/gh/zaixiadingdangmao/u-file-source/index.css');

:root {
  --monospace: 'Hack', 'HYZhengYuan', 'JetBrainsMono', 'Fira Code',
    'Consolas';

  --text-font: var(--monospace);
  --title-color: #304455;
  --text-color: #304455;

  --drake-accent: #4e8c35;
  --drake-highlight: #59a5a3;

  --bg-color: #fff;
  --block-bg-color: rgba(#ffffff, 1);

  --code-color: #2f5d2f;
  --code--bg-color: rgba(#558c65, 0.2);

  --blockquote-color: var(--code-color);
  --blockquote-bg-color: var(--code--bg-color);

  --a-color: var(--drake-accent);
  --code-block-color: #525252;
  --table-border-color: transparent;
  --table-even-bg-color: #f8f8f8;
  --tw-shadow: 0px 0.8px 2px rgba(0, 0, 0, 0.032),
    0px 2.7px 6.7px rgba(0, 0, 0, 0.048),
    0px 12px 30px rgba(0, 0, 0, 0.08);

  --control-text-color: var(--text-color);
  --meta-content-color: var(--title-color);
  --active-file-border-color: var(--drake-accent);
  // --side-bar-bg-color: var(--bg-color);
  --rawblock-edit-panel-bd: var(--bg-color);
  --item-hover-bg-color: #e5e5e596;
  --active-file-bg-color: var(--item-hover-bg-color);
}

html {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  font-family: var(--text-font) !important;
  text-rendering: optimizeLegibility;
  letter-spacing: 0;
  overflow-x: hidden;
  color: var(--text-color);
}

/*sidebar*/
.file-node-content:hover .file-node-icon,
.file-node-content:hover .file-node-open-state {
  visibility: visible;
}
.file-node-content {
  display: flex;
  align-items: center;
}
.file-node-open-state {
  margin-right: 0.5rem;
}
.file-node-icon {
  margin-right: 0.5rem;
}

#write {
  margin: 0 auto;
  padding: 30px 80px 100px;
  max-width: 1400px;
  background-image: linear-gradient(
      90deg,
      rgba(60, 10, 30, 0.04) 3%,
      transparent 0
    ),
    linear-gradient(1turn, rgba(60, 10, 30, 0.04) 3%, transparent 0);
  background-size: 20px 20px;
  background-position: 50%;
  background-color: var(--bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* 标签 */
    position: relative;
    margin: 2rem 0 1rem 0;
    font-weight: bold;
    line-height: 1.4;
    color: var(--title-color);
    cursor: text;
  }

  h1 {
    margin-top: 0;
    font-size: 2.25rem;
    text-align: center;
  }

  h2 {
    // md-plain 文字内容
    .md-plain {
      border-bottom: 0.2rem solid var(--title-color);
    }

    a {
      .md-plain {
        border-bottom: 0.2rem solid var(--a-color);
      }
    }
  }

  h3 {
    font-size: 1.6rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  h6 {
    font-size: 1rem;
  }

  hr {
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: var(--title-color);
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
  }

  [md-inline='link'] a {
    /* a 标签 */
    margin: 0 0.2rem;
    color: var(--a-color);
    text-decoration: none;
  }

  a {
    color: var(--a-color);
    text-decoration: none;

    .md-plain {
      border-bottom: 0.1rem solid var(--a-color);
    }
  }

  .md-image {
    .md-meta {
      /* 插入图片路径 */
      border-radius: 2px;
      font-family: initial;
      padding: 2px 0 0 4px;
      color: inherit;
    }
  }

  img {
    padding: 0.5rem;
    border-left: none;
    border-right: none;
    vertical-align: baseline;
    border-radius: 0.5rem;
    box-shadow: var(--tw-shadow);
    background-color: var(--block-bg-color);
  }

  > ul:first-child,
  > ol:first-child {
    margin-top: 20px;
  }

  ul,
  ol {
    margin-bottom: 25px;
    padding-left: 20px;

    li {
      > ul {
        margin-bottom: 1rem;
      }
      > ol {
        margin-bottom: 1rem;
      }
    }
  }

  ol {
    padding-left: 35px;
  }

  blockquote {
    /* 引用类容 */
    position: relative;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    box-shadow: var(--tw-shadow);
    font-weight: bold;
    color: var(--blockquote-color);
    background-color: var(--blockquote-bg-color);

    // &:before {
    //   content: '';
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   width: 0.5rem;
    //   height: 100%;
    //   display: block;
    //   border-radius: 0.5rem;
    //   background-color: var(--blockquote-color);
    // }
  }

  code {
    /* 代码片段 */
    padding: 0.1rem 0.4rem;
    border-radius: 0.4rem;
    color: var(--code-color);
    background-color: var(--code--bg-color);
  }

  mark {
    padding: 0.1rem 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid var(--code-color);
    border-radius: 0.4rem;
    color: var(--code-color);
    background-color: transparent;
  }

  kbd {
    margin: 0 0.4rem;
    padding: 0.1em 0.4em;
    border: 0.1em solid var(--drake-highlight);
    border-radius: 0.4em;
    font-family: var(--text-font) !important;
    font-size: 0.95rem;
    vertical-align: top;
    box-shadow: none;
    color: var(--drake-highlight);
    background: transparent;
  }

  .md-table-fig {
    /* 表格 */
    border-radius: 0.5rem;
    box-shadow: var(--tw-shadow);
    color: var(--text-color);
    background: var(--block-bg-color);
  }

  .md-fences {
    /* 代码区域 */
    padding: 1rem 0.5rem !important;
    border: none;
    border-radius: 0.5rem;
    box-shadow: var(--tw-shadow);
    font-size: 1rem;
    word-wrap: normal;
    color: var(--code-block-color);
    background: var(--block-bg-color);

    .CodeMirror-gutters {
      color: #636d83;
    }
    .CodeMirror.cm-s-inner {
      background: none;
    }

    pre.CodeMirror-line {
      color: var(--code-block-color) !important;
    }
    .cm-s-inner {
      .cm-keyword {
        color: #d63200 !important;
      }

      .cm-def {
        color: var(--code-block-color) !important;
      }

      .cm-comment {
        color: #787878 !important;
      }

      .cm-number {
        color: #a32eff;
      }

      .cm-string {
        color: #31a062 !important;
      }

      // .cm-variable {
      //   color: #37352f !important;
      // }

      //   .cm-tag {
      //     color: #275fe4 !important;
      //   }

      //   .cm-bracket {
      //     color: #275fe4 !important;
      //   }

      //   .cm-error {
      //     color: #ff5a5a !important;
      //   }

      //   .cm-attribute {
      //     color: #df631c !important;
      //   }

      //   .cm-string {
      //     color: var(--code-color) !important;
      //   }

      //   .cm-tag:not() {
      //     font-weight: 700;
      //   }

      //   .cm-operator {
      //     color: var(--code-block-color) !important;
      //   }

      //   .cm-number {
      //     color: #ce33c0 !important;
      //   }

      //   .cm-meta {
      //     color: #a05a48 !important;
      //     font-weight: bold !important;
      //   }

      //   .cm-atom {
      //     color: #823ff1;
      //   }

      //   .cm-builtin {
      //     color: #d52753 !important;
      //   }

      //   .cm-property {
      //     color: var(--code-block-color);
      //   }

      //   .cm-variable-2 {
      //     // color: #df631c !important;
      //     color: var(--text-color) !important;
      //   }

      //   .cm-variable-3 {
      //     color: #df631c;
      //   }

      //   .cm-qualifier {
      //     color: #275fe4;
      //   }
    }
  }

  .md-rawblock {
    /*数学公式*/

    &:hover {
      .md-rawblock-container {
        border-radius: 0.5rem;
        box-shadow: var(--tw-shadow);
        background: var(--block-bg-color);
        transition: 0.3s;
      }
    }

    .md-mathblock-panel {
      box-shadow: var(--tw-shadow);
      background: var(--block-bg-color);
      border-radius: 0.5rem;
      overflow: hidden;

      .md-rawblock-control {
        padding: 0 0.5rem;
      }

      .md-rawblock-before {
        padding-top: 1rem;
      }

      .md-rawblock-after {
        padding-bottom: 1rem;
      }

      .code-tooltip {
        border-top: 1px solid #eef2f2;
        box-shadow: none;
      }
    }
  }

  .ul-list {
    // 代办
    li.md-task-list-item {
      transition: 0.3s;

      input[type='checkbox'] {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        transform: translateX(-125%);
        width: 1.6rem;
        height: 1.6rem;
        opacity: 0;
      }

      &::before {
        content: '';
        position: absolute;
        display: inline-block;
        transform: translateX(-125%);
        color: var(--drake-highlight);
        line-height: initial;
        font-size: 1.6rem;

        font-family: 'iconfont' !important;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      &.task-list-done {
        text-decoration: line-through;
        color: #787878;

        &::before {
          content: '\e646';
        }
      }

      &.task-list-not-done {
        &::before {
          content: '\e653';
        }
      }
    }
  }

  .md-footnote {
    /* 页脚 */
    padding-left: 0;
    border-radius: 0.4rem;
    font-size: 0.9rem;
    color: var(--code-color);
    background-color: var(--code--bg-color);

    &:before {
      content: '[';
    }

    &:after {
      content: ']';
    }
  }
}

.modal-content {
  border-radius: 0.5rem;
}

// figure{
//   box-shadow: var(--tw-shadow);
// }

@media print {
  html {
    font-size: 12px;
  }

  table,
  pre {
    page-break-inside: avoid;
  }

  pre {
    word-wrap: break-word;
  }
}

table {
  padding: 0;
  word-break: initial;

  thead {
    margin-bottom: 0.5rem;
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.09);
    // background-color: var(--table-even-bg-color);

    > tr {
      border-top: none;
    }
  }

  tr {
    border-top: 1px solid var(--table-border-color);
    margin: 0;
    &:nth-child(even) {
      background-color: var(--table-even-bg-color);
    }
  }

  th,
  td {
    margin: 0;
    padding: 0.5rem 1rem;
    border-right: 1px solid var(--table-border-color);

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
      border-right: none;
    }
  }

  th {
    font-weight: bold;
  }
}
