/*
 * @Description: typora 主题
 * @Author: zhangxuelong
 * @Date: 2022-05-16 15:31:03
 */

@import url('https://cdn.jsdelivr.net/gh/zaixiadingdangmao/u-file-source/index.css');

:root {
  /* 代码的等宽字体 */
  --monospace: 'Hack', 'HYZhengYuan', 'JetBrainsMono', 'Fira Code', 'Consolas';

  /* 改变背景色 */
  --bg-color: #ffffff;
  /* 背景网格颜色 */
  --bg--grid--color: rgba(#487091, 0.1);

  /* 改变文字颜色 */
  --text-color: #304455;
  /* 文本字体 */
  --text-font: var(--monospace);
  /* 高亮色 */
  --drake-accent: #5d93ad;
  --drake-highlight: #78a0c1;

  --block-bg-color: rgba(#ffffff, 1);
  --tw-shadow: 0px 0.8px 2px rgba(0, 0, 0, 0.032),
    0px 2.7px 6.7px rgba(0, 0, 0, 0.048), 0px 12px 30px rgba(0, 0, 0, 0.08);

  /* 标题颜色 */
  --title-color: var(--text-color);

  --yaml-color: #777;
  --yaml-bg-color: #f7f7f7;

  --a-color: var(--drake-accent);

  --table-border-color: transparent;
  --table-even-bg-color: #f8f8f8;

  --blockquote-color: #487091;
  --blockquote-bg-color: rgba(#487091, 0.2);

  --code-block-color: #525252;
  --code-block-border-color: #5b5b5e;
  --code-block-bg-color: #f8f8f8;

  --code-color: var(--blockquote-color);
  --code--bg-color: var(--blockquote-bg-color);

  /*
   * ---------------------
   * 系统配置样式 
   */

  /* 改变元字符的颜色，例如 markdown 中的“*” */
  --md-char-color: #c7c5c5;
  /* 改变元内容的颜色，例如 markdown 中的图像文本和链接地址 */
  --meta-content-color: #5b808d;

  /* 主按钮的颜色 */
  --primary-color: #428bca;
  --primary-btn-border-color: #285e8e;
  --primary-btn-text-color: #fff;

  /* 边栏等的边框 */
  --window-border: 1px solid #eee;

  /* 文件树或文件列表中当前项的背景色 */
  --active-file-bg-color: #eee;
  --active-file-text-color: inherit;
  --active-file-border-color: var(--drake-accent);

  /* 改变边栏颜色 */
  --item-hover-bg-color: rgba(229, 229, 229, 0.59);
  --side-bar-bg-color: #fafafa;
  /* 鼠标悬停时控件项的背景，如侧边栏中的菜单 */
  --item-hover-text-color: inherit;

  --control-text-color: var(--text-color);
  --meta-content-color: var(--title-color);
  --rawblock-edit-panel-bd: var(--bg-color);
}

html {
  font-size: 16px;
  background-color: var(--bg-color);
}

html,
body {
  font-family: var(--text-font);
}

#write {
  margin: 0 auto;
  padding: 30px 80px 100px;
  max-width: 1400px;
  background-image: linear-gradient(90deg, var(--bg--grid--color), 3%, transparent 0),
    linear-gradient(1turn, var(--bg--grid--color), 3%, transparent 0);
  background-size: 20px 20px;
  background-position: 50%;
  background-color: var(--bg-color);

  /*
 * ---------------------
 * Block Elements 
 */

  /* yaml */
  pre.md-meta-block {
    margin-top: 0 !important;
    padding: 1rem 1.5rem;
    border: 0;
    border-radius: 0.5rem;
    font-size: 1rem;
    line-height: 1.45;
    color: var(--yaml-color);
    background-color: var(--yaml-bg-color);
    box-shadow: var(--tw-shadow);
  }

  /* headings */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    margin: 2rem 0 1rem 0;
    font-weight: bold;
    line-height: 1.4;
    color: var(--title-color);
    cursor: text;
  }

  h1 {
    margin-top: 0;
    font-size: 2.25rem;
    text-align: center;
  }

  h2 {
    .md-plain {
      border-bottom: 0.2rem solid var(--title-color);
    }

    a {
      .md-plain {
        border-bottom: 0.2rem solid var(--a-color);
      }
    }
  }

  h3 {
    font-size: 1.6rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  h6 {
    font-size: 1rem;
  }

  /* table */
  .md-table-fig {
    border-radius: 0.5rem;
    color: var(--text-color);
    box-shadow: var(--tw-shadow);
    background: var(--block-bg-color);
  }

  /* lists */
  #write {
    > ul:first-child,
    > ol:first-child {
      margin-top: 20px;
    }
  }

  ol,
  ul {
    margin-bottom: 25px;
    padding-left: 20px;

    li {
      > ul {
        margin-bottom: 1rem;
      }
      > ol {
        margin-bottom: 1rem;
      }

      p {
        margin: 0.5rem 0;
      }
    }
  }

  ol {
    padding-left: 35px;
  }

  /* blockquote */
  blockquote {
    position: relative;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    color: var(--blockquote-color);
    box-shadow: var(--tw-shadow);
    background-color: var(--blockquote-bg-color);

    > p {
      line-height: 1.5;
    }
  }

  /* hr */
  hr {
    margin: 1rem 0 2rem;
    padding: 0;
    height: 0.15rem;
    box-sizing: content-box;
    border: 0 none;
    background-color: var(--title-color);
  }

  p {
    margin: 0 0 1.25rem;
  }

  /* diagram panel */
  .md-diagram-panel {
    border-radius: 0.5rem;
    box-shadow: var(--tw-shadow);
    background: var(--block-bg-color);

    .md-diagram-panel-preview {
      div {
        color: var(--code-block-color) !important;
        font-family: var(--text-font) !important;
        font-size: 1rem !important;
      }

      .actor {
        /* 方块 */
        stroke: var(--code-block-border-color) !important;
        fill: var(--code-block-bg-color) !important;

        > tspan {
          /* 方块文字 */
          fill: var(--code-block-color) !important;
          stroke: none !important;
          font-family: var(--text-font) !important;
          font-size: 1rem !important;
        }
      }

      .actor-line {
        /* 竖线 */
        stroke: var(--text-color) !important;
        stroke-width: 1px;
      }

      .messageLine0 {
        /* 横线 */
        stroke-width: 1.5;
        stroke-dasharray: none;
        stroke: var(--text-color) !important;
      }

      .messageLine1 {
        /* 虚线 */
        stroke-width: 1.5 !important;
        stroke-dasharray: 2, 2 !important;
        stroke: var(--text-color) !important;
      }

      .messageText {
        /* 描述文字 */
        fill: var(--text-color) !important;
        font-family: var(--text-font) !important;
        font-size: 1rem !important;
      }

      .activation0 {
        /* 长方形 */
        fill: #e6e6e6 !important;
        stroke: var(--text-color) !important;
      }

      .labelText,
      .labelText > tspan {
        /* 循环标记 */
        fill: var(--code-block-color) !important;
        font-family: var(--text-font) !important;
        font-size: 1rem !important;
        dominant-baseline: unset;
        alignment-baseline: unset;
      }

      .labelBox {
        /* 循环标记背景 */
        stroke: var(--code-block-border-color) !important;
        fill: var(--code-block-bg-color) !important;
      }

      .loopLine {
        /* 循环标记虚线 */
        stroke: var(--text-color) !important;
      }

      .loopText,
      .loopText > tspan {
        /* 循环名称 */
        fill: var(--text-color) !important;
        font-size: 1rem !important;
      }

      .sequenceNumber {
        /* 序号 */
        fill: var(--bg-color) !important;
      }

      .edgePath .path {
        /* 箭头 */
        stroke: var(--text-color) !important;
      }

      .edgeLabel rect {
        /* 条件文字背景 */
        fill: var(--bg-color) !important;
      }

      .edgeLabel span {
        /* 条件文字 */
        color: var(--text-color);
      }
      .node {
        line,
        rect,
        circle,
        ellipse,
        polygon,
        path {
          /*形状*/
          stroke: var(--code-block-border-color) !important;
          fill: var(--code-block-bg-color) !important;
        }
      }
    }
  }

  /* reference link definition */
  .md-def-link {
  }

  /* footnote definition */
  .md-def-footnote {
    .md-def-name:before {
      content: '';
      position: absolute;
      color: var(--text-color);
    }
  }

  /* Code Fences */
  .md-fences {
    padding: 1rem 0.5rem !important;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    word-wrap: normal;
    color: var(--code-block-color);
    box-shadow: var(--tw-shadow);
    background: var(--block-bg-color);

    .code-tooltip {
      border-radius: 0.4em;
      box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.3);
      background: var(--block-bg-color);
    }

    .cm-s-inner {
      .CodeMirror-gutters {
        border-right: 1px solid rgba(120, 120, 120, 0.3);
      }

      .CodeMirror-guttermarker,
      .CodeMirror-guttermarker-subtle,
      .CodeMirror-linenumber {
        color: #999;
      }

      .CodeMirror-cursor {
        border-left: 0.1rem solid var(--text-color);
      }

      div.CodeMirror-selected {
        background: rgba(255, 255, 255, 0.15);
      }

      .CodeMirror-line::selection,
      .CodeMirror-line > span::selection,
      .CodeMirror-line > span > span::selection {
        background: rgba(255, 255, 255, 0.1);
      }

      .CodeMirror-line::-moz-selection,
      .CodeMirror-line > span::-moz-selection,
      .CodeMirror-line > span > span::-moz-selection {
        background: rgba(255, 255, 255, 0.1);
      }

      .CodeMirror-activeline-background {
        background: rgba(0, 0, 0, 0);
      }

      .cm-keyword {
        color: #d63200;
      }

      .cm-def {
        color: var(--code-block-color) !important;
      }

      .cm-comment {
        color: #787878 !important;
      }

      .cm-number {
        color: #f77669;
      }

      .cm-string {
        color: var(--code-color) !important;
      }

      .cm-tag {
        color: #275fe4;
      }
      // .cm-operator {
      //   color: rgba(233, 237, 237, 1);
      // }
      //   .cm-variable-2 {
      //     color: #80cbc4;
      //   }
      //   .cm-variable-3 {
      //     color: #82b1ff;
      //   }
      //   .cm-builtin {
      //     color: #decb6b;
      //   }
      //   .cm-atom {
      //     color: #f77669;
      //   }
      //   .cm-string-2 {
      //     color: #80cbc4;
      //   }
      //   .cm-variable {
      //     color: #82b1ff;
      //   }
      //   .cm-meta {
      //     color: #80cbc4;
      //   }
      //   .cm-attribute {
      //     color: #ffcb6b;
      //   }
      //   .cm-property {
      //     color: #80cbae;
      //   }
      //   .cm-qualifier {
      //     color: #decb6b;
      //   }
      //   .cm-variable-3 {
      //     color: #decb6b;
      //   }
      //   .cm-error {
      //     color: rgba(255, 255, 255, 1);
      //     background-color: #ec5f67;
      //   }
      //   .CodeMirror-matchingbracket {
      //     text-decoration: underline;
      //     color: white !important;
      //   }
    }
  }

  /*mermaid*/
  [id^='mermaidChart'] {
    fill: var(--text-color) !important;
  }
  [id^='mermaidChart'] rect.rect {
    fill: rgba(175, 255, 212, 0.3) !important;
  }

  /* 数学公式 */
  .md-rawblock {
    &:hover {
      .md-rawblock-container {
        border-radius: 0.5rem;
        box-shadow: var(--tw-shadow);
        background: var(--block-bg-color);
        transition: 0.3s;
      }
    }

    .md-mathblock-panel {
      box-shadow: var(--tw-shadow);
      background: var(--block-bg-color);
      border-radius: 0.5rem;
      overflow: hidden;

      .md-rawblock-control {
        padding: 0 0.5rem;
      }

      .md-rawblock-before {
        padding-top: 1rem;
      }

      .md-rawblock-after {
        padding-bottom: 1rem;
      }

      .code-tooltip {
        border-top: 1px solid #eef2f2;
        box-shadow: none;
      }
    }
  }

  /* 页脚 */
  .md-footnote {
    padding-left: 0;
    border-radius: 0.4rem;
    font-size: 0.9rem;
    color: var(--code-color);
    background-color: var(--code--bg-color);

    &:before {
      content: '[';
    }

    &:after {
      content: ']';
    }
  }

  // 代办
  .ul-list {
    li.md-task-list-item {
      transition: 0.3s;

      input[type='checkbox'] {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        transform: translateX(-125%);
        width: 1.6rem;
        height: 1.6rem;
        opacity: 0;
      }

      &::before {
        content: '';
        position: absolute;
        display: inline-block;
        transform: translateX(-125%);
        color: var(--drake-highlight);
        line-height: initial;
        font-size: 1.6rem;

        font-family: 'iconfont' !important;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      &.task-list-done {
        text-decoration: line-through;
        color: #787878;

        &::before {
          content: '\e646';
        }
      }

      &.task-list-not-done {
        &::before {
          content: '\e653';
        }
      }
    }
  }

  .modal-content {
    border-radius: 0.5rem;
  }

  /**
 * ---------------------
 * Inline Elements
 */

  // basic styles

  /* 代码片段 */
  code {
    padding: 0.1rem 0.4rem;
    border-radius: 0.4rem;
    color: var(--code-color);
    background-color: var(--code--bg-color);
  }

  strong {
    font-weight: bold;
    color: var(--code-color);
  }

  a {
    color: var(--a-color);
    text-decoration: none;

    .md-plain {
      border-bottom: 0.1rem solid var(--a-color);
    }
  }

  .md-image {
    .md-meta {
      /* 插入图片路径 */
      border-radius: 2px;
      font-family: initial;
      padding: 2px 0 0 4px;
      color: inherit;
    }
  }

  img {
    padding: 0.5rem;
    border-left: none;
    border-right: none;
    vertical-align: baseline;
    border-radius: 0.5rem;
    box-shadow: var(--tw-shadow);
    background-color: var(--block-bg-color);
  }

  /* extend styles */
  mark {
    padding: 0.1rem 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid var(--code-color);
    border-radius: 0.4rem;
    color: var(--code-color);
    background-color: transparent;
  }

  kbd {
    margin: 0 0.4rem;
    padding: 0.1em 0.4em;
    border: 0.1em solid var(--drake-highlight);
    border-radius: 0.4em;
    font-family: var(--text-font) !important;
    font-size: 0.95rem;
    vertical-align: top;
    box-shadow: none;
    color: var(--drake-highlight);
    background: transparent;
  }
}

table {
  padding: 0;
  word-break: initial;

  thead {
    margin-bottom: 0.5rem;
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.09);

    > tr {
      border-top: none;
    }
  }

  tr {
    border-top: 1px solid var(--table-border-color);
    margin: 0;
    &:nth-child(even) {
      background-color: var(--table-even-bg-color);
    }
  }

  th,
  td {
    margin: 0;
    padding: 0.5rem 1rem;
    border-right: 1px solid var(--table-border-color);

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
      border-right: none;
    }
  }

  th {
    font-weight: bold;
  }
}
